* { margin: 0; padding: 0; }
html { height: 100%; overflow-x: hidden; }
body { height: 100%; margin: 0; padding: 0; background-color: #fff; }

.plusminus {
  float: right;
  margin-right: 20px;
}

.plusminus input {
  margin: 0;
  width: 2em;
  height: 2em;
  font-size: 120%;
}

#timeline {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 2;
  background-color: #fff;
  height: 100px;
  border-bottom: 2px solid #666;
}


#timeline_content {
  text-align: center;
}

#timeline img {
  margin: 0 auto;
}

.hour {
  float: left;
  width: 50px;
  height: 100%;
  border-right: 1px solid #333;
  background-color: #444;
}

/* Search box */

#search_container {
  /* background: url('/images/fade-topdown-grey.png') repeat-x 0px -10px;*/
  width: 34%;
  position: fixed;
  top: 100px;
  right: 0px;
}

#searchbox {
  height: 100%;
  width: 100%;
  font-size: 2.0em;
  margin: 3px;
  margin-top: 6px;
}

/* Results */

#results {
  background-color: #fff;
  color: #444;
  margin-left: 66%;
  width: 34%;
  overflow-x: hidden;
  border-left: 2px solid #666;
}

#results h2 {
  font-size: 1.1em;
  font-family: Sans;
}
#result_items img {
  vertical-align: middle;
}

#result_items ul {
  /* debug: put it back when enabling the search box */
  /* margin-top: 50px; */
}

#result_items ul li {
  list-style-type: none;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  cursor: hand;
  cursor: pointer;
  padding: 0.5em;
}

.map {
  width: 66%;
  height: 100%;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

#map_container {
  position: fixed;
  left: 0px;
  top: 100px;
}

#location {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
}


