* { margin: 0; padding: 0; }
html { height: 100%; overflow: hidden; }
body { height: 100%; margin: 0; padding: 0; overflow: hidden; }

#result_count {
  text-align: center;
}

#result_items ul li {
  list-style-type: none;
}

#results {
  margin-left: 66%;
  width: 33%;
  height: 100%;
  overflow-x: hidden;
  border-left: 4px solid #777;
  padding-left: 20px;
}

#results h2 {
  font-size: 1.2em;
  font-style: bold;
}
#results img {
  vertical-align: middle;
}
#results ul {
  margin: 1em;
}
#results li {
  margin: 0.5em 0;
}

.map {
  width: 66%;
  height: 100%;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

#map_container {
  position: fixed;
  left: 0px;
  top: 0px;
}
